* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
body {
    opacity: 0;
    transition: opacity 3s;
}
main {
    max-width: 100%;
    height: 100vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 27px;
    box-sizing: border-box;
}

header{
    box-shadow: 0px -30px 20px rgba(0,0,0, 0.3);
    background-color: fff;
    
}
.navbar_link ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.log a,
.navbar_link a {
    text-decoration: none;
    color: #2a2a2a;
    font-weight: 400;
    transition: all 100ms ease;
}

.navbar_link ul a:hover {
    color: rgb(211, 93, 93);
    text-decoration:dotted;
    transition: all 500ms ease;
}

.main2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 67px;
}

.main2 .faiz {

    width: 350px;
    transition: all 1400ms ease;
    cursor: pointer;
    border-radius: 5px;
}

.main2 .faiz:hover {
    box-shadow: 2px 2px 7px rgb(77, 76, 76) ;
    transform: scale(1.05);
}

.main2 .txt {
    text-align: center;
    color: #2a2a2a;
}

.main2 .txt h1 {
    font-size: 50px;
}

.main2 .txt h4 {
    font-size: 30px;
    margin-bottom: 20px;
}

.main2 .btn1 button {
    padding: 8px 20px;
    background: #2a2a2a;
    color: antiquewhite;
    border-radius: 30px;
    border: 1px solid #2a2a2a;
    margin: 1rem;
    transition: all 1000ms ease;
    transform: scale(1.07);

}

.main2 .btn1 button:hover {
    cursor: pointer;
    background-color: rgb(247, 124, 124);
}

.icn a {
    color: black;
}

.icn {

    transition: all 2000ms ease;
    color: #b42525;
    font-size: 40px;
    margin: 0px 15px;
    cursor: pointer;

}

.icn :hover {
    transform: scale(1.15);
}
/* cards */
.allcards {
width: 30%;
background-color: rgb(234, 229, 229);
border-radius: 7px;
margin: 5px;
box-shadow: 1.5px 1.5px 5px rgb(49, 49, 49);
}
.allcards:hover{
    transform: scale(1.03);
    transition: 500ms ease;
}
.image img{
    width: 100%;
    border-top-right-radius: 7px; border-top-left-radius: 7px;
}
.title,button ,.des{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
}
button {
   
    background: #2a2a2a;
    color: antiquewhite;
    border: 1px solid black;
    border-radius: 7px;
    margin-bottom: 5px;
    padding: 3px;
}
.allcards button a{
    text-decoration: none;
    color: antiquewhite;
}
button:hover{
    background-color: rgb(247, 124, 124);
    color: white;
    
}
.proj{
    display: flex;
    justify-content: space-between;
}
#projects{
    text-align: center;
}
.about h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:500;
}
/* contact css */

.container {
    max-width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .form-group {
    margin-bottom: 15px;
    border-radius: 7px;
  }
  
  .form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 7px;
  }
  .form-group textarea {
    height: 100px;
    border-radius: 7px;
  }
  #Contact{
    box-shadow: 2px 2px 5px grey;
  }
  .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #2a2a2a;
    color: antiquewhite;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .submit-btn:hover {
    background-color: rgb(247, 124, 124);
    color: white;
    transition: all 1000ms ease;
  }


 


@media (max-width: 600px) {
    .main2 .btn1 button {
        padding: 6px 16px; background: #2a2a2a; color: antiquewhite;
        border-radius: 20x; border: 1px solid #2a2a2a;
        margin: 0.7rem; transition: all 1000ms ease;
        transform: scale(0.9);
    }
    header{
        overflow: hidden;
    }
    .main2 {
        align-items: center;
        flex-direction: column;
    }
    .log a h2{
        text-align: center;
     }
nav{
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 24px;
    padding-top: 30px;
    padding-bottom: 18px;
}
nav{
    flex-direction: column;
}
.main2 .txt h1 {
    font-size: 45px;
}
    .navbar_link ul li {
        font-size: small;
        gap: 1rem;
        justify-content: space-between;
    }

    .faiz {
        width: 200px;
        transform: scale(1.04);
    }
}
@media (max-width:540px) {
    nav{
        flex-direction: column;
    }
}

@media(max-width:380px){
    .navbar_link ul{
        gap:10px;
        justify-content:space-between;
    }
}
@media (max-width: 360px) {
    .container {
      padding: 10px;
    }
    .form-group input, .form-group textarea {
      padding: 8px;
    }
    .submit-btn {
      padding: 8px;
    }
  }

